body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
    padding: 0.2rem;
}

.display {
    background-color: darkgray;
    color: white;
    text-align: right;
    width: 16.25rem;
    font-size: 2rem;
    padding: 0.75rem 1rem;
    margin-bottom: 2px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    grid-template-areas: 
        "clear sign percent divide"
        "seven eight nine times"
        "four five six minus"
        "one two three plus"
        "zero zero decimal equal";
}

.zero {
    grid-area: zero;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.decimal {
    grid-area: decimal;
}

.equal {
    grid-area: equal;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.times {
    grid-area: times;
}

.divide {
    grid-area: divide;
}

.clear {
    grid-area: clear;
}

.sign {
    grid-area: sign;
}

.percent {
    grid-area: percent;
}


button {

}

button:hover {
    background-color: lightgray;
}